@model WebApplication20.Models.SinhVien

@{
    ViewData["Title"] = "Chi tiết Sinh Viên";
}

<h2>Chi tiết Sinh Viên</h2>

<dl class="row">
    <dt class="col-sm-2">Mã Sinh Viên:</dt>
    <dd class="col-sm-10">@Model.MaSV</dd>

    <dt class="col-sm-2">Họ Tên:</dt>
    <dd class="col-sm-10">@Model.HoTen</dd>

    <dt class="col-sm-2">Giới Tính:</dt>
    <dd class="col-sm-10">@Model.GioiTinh</dd>

    <dt class="col-sm-2">Ngày Sinh:</dt>
    <dd class="col-sm-10">@Model.NgaySinh.ToShortDateString()</dd>

    <dt class="col-sm-2">Ngành Học:</dt>
    <dd class="col-sm-10">@Model.NganhHoc.TenNganh</dd>

    <dt class="col-sm-2">Hình Ảnh:</dt>
    <dd class="col-sm-10">
        <img src="~/@Model.Hinh" alt="Ảnh sinh viên" style="width: 150px; height: auto;" />
    </dd>
</dl>

<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaSV }) |
    <a asp-action="Index">Quay lại danh sách</a>
</p>
